/*
header background:#084f70;
font-color: #fff;
btn header : #f6921e;
hero:#1679c5
secondary-font:#014e72
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;

  font-weight: 400;
}
/*Header*/
nav {
  background-color: #084f70;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

ul li a:hover {
  color:  #f6921e;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}
.link-btn {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #f6921e;
  color: #fff;
}
.link-btn:hover {
  background-color: #c9720f;
  color: #cbc5c5;
}
#check {
  display: none;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: absolute;
    top:60px;
    right: -100%;
    background-color: #084f70;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    z-index: 1000;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}
/***************/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #084f70;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* section-hero */
section {
  height: 800px;
  position: relative;
  background-image: linear-gradient(
      283deg,
      rgba(21, 129, 203, 0.8) 0%,
      rgba(21, 129, 203, 0.8) 100%
    ),
    url(/Img/3.avif);
  background-size: cover;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 40px;
}
.hero {
  width: 100%;
  max-width: 1100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero_text {
  margin-bottom: 40px;
  padding: 0 20px;
}
.hero_text h1 {
  font-size: 2rem;
  margin-bottom: 32px;
  line-height: 1.05;
  text-transform: capitalize;
  text-align: center;
}

.hero_text p {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #c3f8ff;
}
.hero_text p span {
  color: #fff;
}
.hero_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero_action a {
  width: 100%;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 12px;
  transition: all 0.3s ease-in-out;
}
.hero_action a:hover {
  border: 2px solid #f6921e;
  color: #c3f8ff;
}

/* section info */
.text-cost {
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.text-cost a {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #084f70;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 40px;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .hero_text h1 {
    font-size: 2.5rem;
  }
  .hero_text p {
    max-width: 70%;
  }
  .hero_action {
    flex-direction: row;
    gap: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero_text h1 {
    font-size: 3rem;
  }
  .hero_text p {
    max-width: 70%;
  }
  .hero_action {
    gap: 40px;
  }
  .hero_action a {
    max-width: 250px;
  }
}
